* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 60px;
    z-index: 1;
}

.social-bar {
    gap: 20px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: #bbbbbb80;
}

.social-bar a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
}

.facebookIcon {
    transition: color 0.5s ease-in-out;
}

.facebookIcon:hover {
    color: #0866ff;
}

.linkedinIcon {
    transition: color 0.5s ease-in-out;
}

.linkedinIcon:hover {
    color: #0077b5;
}

.githubIcon {
    transition: color 0.5s ease-in-out;
}

.githubIcon:hover {
    color: #211f1f;
}
