@font-face {
    font-family: 'GT-Pressura-Extended';
    src: url('../assets/Web/GT-Pressura/GT-Pressura-Extended-Black-Trial.woff2'),
}

@font-face {
    font-family: 'GT-CineType-Regular';
    src: url('../assets/Web/GT-Cinetype/GT-Cinetype-Regular.woff2'),
}

@font-face {
    font-family: 'GT-Sectra';
    src: url('../assets//Web/GT-Sectra/GT-Sectra-Display-Bold-Trial.woff2'),
}

@font-face {
    font-family: 'Nouvelle Grotesk';
    src: url('../assets/Web/GT-Pressura/GT-Pressura-Extended-Black-Trial.woff2'),
}

@font-face {
    font-family: 'Nouvelle Grotesk';
    src: url('../assets/Web/GT-Pressura/GT-Pressura-Extended-Black-Trial.woff2'),
}

@font-face {
    font-family: 'Nouvelle Grotesk';
    src: url('../assets/Web/GT-Pressura/GT-Pressura-Extended-Black-Trial.woff2'),
}

@font-face {
    font-family: 'Nouvelle Grotesk';
    src: url('../assets/Web/GT-Pressura/GT-Pressura-Extended-Black-Trial.woff2'),
}

@font-face {
    font-family: 'Nouvelle Grotesk';
    src: url('../assets/Web/GT-Pressura/GT-Pressura-Extended-Black-Trial.woff2'),
}

@font-face {
    font-family: 'Nouvelle Grotesk';
    src: url('../assets/Web/GT-Pressura/GT-Pressura-Extended-Black-Trial.woff2'),
}

@font-face {
    font-family: 'Nouvelle Grotesk';
    src: url('../assets/Web/GT-Pressura/GT-Pressura-Extended-Black-Trial.woff2'),
}

@font-face {
    font-family: 'Nouvelle Grotesk';
    src: url('../assets/Web/GT-Pressura/GT-Pressura-Extended-Black-Trial.woff2'),
}