.hoverEffect {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    scroll-behavior: smooth;
}

.hoverEffect::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.hoverEffect:hover::after {
    width: 100%; 
    left: 0; 
}

.logoImage {
    padding: 0;
    margin: 0;
    width: 100px;
    display: flex;
}

.resumeButton {
    padding: 10px 4px;
    border-radius: 10px;
    position: relative;
    background: radial-gradient(
        circle at 50%, 0%,
        rgba(250, 250, 250, 0.05) 0%,
        transparent 60%
    ), rgba(15, 15, 15, 1);
}

.buttonSpan {
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
    mask-image: linear-gradient(
        -75deg,
        white calc(var(--x) + 20%),
        transparent calc(var(--x) + 30%),
        white calc(var(--x) + 100%)
    );
    -webkit-mask-image: linear-gradient(
        -75deg,
        white calc(var(--x) + 20%),
        transparent calc(var(--x) + 30%),
        white calc(var(--x) + 100%)
    );
}



