.hoverEffect {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    scroll-behavior: smooth;
}

.hoverEffect::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.hoverEffect:hover::after {
    width: 100%; 
    left: 0; 
}

.logoImage {
    padding: 0;
    margin: 0;
    width: 100px;
    display: flex;
}

.resumeButton {
    background: radial-gradient(
            circle at 50% 0%,
            rgba(var(--radial-gradient-background), 0.05) 0%,
            transparent 60%
        )
        rgba(var(--solid-color-background), 1);
}

.buttonSpan {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    padding: 0px 15px;
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
    mask-image: linear-gradient(
        -75deg,
        white calc(var(--x) + 20%),
        transparent calc(var(--x) + 30%),
        white calc(var(--x) + 100%)
    );
    -webkit-mask-image: linear-gradient(
        -75deg,
        white calc(var(--x) + 20%),
        transparent calc(var(--x) + 30%),
        white calc(var(--x) + 100%)
    );
}

.buttonOverlay {
    display: block;
    position: absolute;
    inset: 0;
    border-radius: 5px;
    padding: 2px;
    background-image: linear-gradient(
        -75deg,
        rgba(255, 255, 255, 0.315) calc(var(--x) + 20%),
        rgba(255, 255, 255, 0.5) calc(var(--x) + 25%),
        rgba(255, 255, 255, 0.295) calc(var(--x) + 100%)
    );
    mask:
        linear-gradient(black, black) content-box,
        linear-gradient(black, black);
    -webkit-mask:
        linear-gradient(black, black) content-box,
        linear-gradient(black, black);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
}



